[Unit]
Description=Start the Gepetto Quadruped Reactive Walking service from a joystick
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/pi
ExecStart=/usr/local/bin/gepetto-joystick-launcher.py

[Install]
WantedBy=multi-user.target
